{% extends "base.html" %}

{% block content %}
<style>
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ffffff;
}

/* Card CSS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #000000;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #2e2e2e;  
}

.card__status {
  font-size: .8em;
  color: #2e2e2e;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #2e2e2e;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* Modal CSS */

</style>

<ul class="cards">
  {% for umkm in umkms %}
  <li>
    <a href="#" class="card" data-toggle="modal" data-target="#umkmModal"
    data-merek="{{ umkm.merek_bisnis }}"
    data-produk="{{ umkm.produk_jasa }}"
    data-domisili="{{ umkm.domisili }}"
    data-deskripsi="{{ umkm.deskripsi }}"
    data-pendanaan="{{ umkm.pendanaan_dibutuhkan }}"
    data-investor="{{ umkm.jumlah_investor }}"
    data-logo="{{ umkm.logo_usaha }}"
    data-gambar="{{ umkm.gambar_usaha }}"
    data-ringkasan="{{ umkm.ringkasan_perusahaan}}"
    >
      <img src="{{ umkm.logo_usaha.url }}" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <div class="card__header-text">
            <h3 class="card__title">{{ umkm.merek_bisnis }}</h3>            
            <span class="card__status">{{ umkm.produk_jasa }}</span>
          </div>
        </div>
        <p class="card__description">{{ umkm.domisili }}</p>
      </div>
    </a>      
  </li>
  {% endfor %}
</ul>

<div class="modal fade" id="umkmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="umkm-merek"></h4>
        <h5 class="modal-title" id="umkm-produk"></h5>
      </div>
      
      <div class="modal-body">
        <h5><p id="umkm-deskripsi"></p></h5>
        <div class="modal-body">
          <h5>Lokasi:</h5>
          <h5 id="umkm-domisili"></h5>
        </div>
        <div class="modal-body">
          <h5>Dana dibutuhkan:</h5>
          <h5 id="umkm-pendanaan"></h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $('.card').click(function(){
    $('#umkm-merek').html($(this).data('merek'));
    $('#umkm-produk').html($(this).data('produk'));
    $('#umkm-domisili').html($(this).data('domisili'));
    $('#umkm-deskripsi').html($(this).data('deskripsi'));
    $('#umkm-pendanaan').html($(this).data('pendanaan'));
    $('#umkm-investor').html($(this).data('investor'));
    $('#umkm-logo').src($(this).data('logo'));
    $('#umkm-gambar').src($(this).data('gambar'));
    $('#umkm-ringkasan').src($(this).data('ringkasan'));
  });
</script>
{% endblock content %}