<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pendanaan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "pendanaan/img/favicon.jpg" %} rel="icon">
  <link href={% static "pendanaan/img/apple-touch-icon.jpg" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "pendanaan/vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static "pendanaan/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "pendanaan/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "pendanaan/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "pendanaan/vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static "pendanaan/vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "pendanaan/css/style.css" %} rel="stylesheet">

</head>

<body>
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Bergabunglah Bersama <span>Yuk Invest</span></h3>
          <p>YukInvest hadir memberikan bantuan untuk mendorong masyarakat Indonesia untuk berinvestasi kepada UMKM demi memajukan perekonomian Indonesia.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src={% static "pendanaan/img/about.jpg" %} class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Yuk Invest akan melakukan distribusi laporan keuangan bulanan dan dividen melalui sistem pendanaan kami.</h3>
            <p class="fst-italic">
             Saat ini kami fokus di industri waralaba (franchise), UMKM, Startup, dan Proyek. 
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>INVESTASI BISNIS BERSAMA</h5>
                  <p>Kamu dapat membuka bisnis UMKM secara bersama-sama hingga mendapatkan Legalitas PT</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>DISTRIBUSI PROFIT BERKALA</h5>
                  <p>Mekanisme pembagian profit yang mudah. Diatur sesuai persentase kepemilikan saham secara otomatis melalui sistem Saldo Efek.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "pendanaan/img/testimonials/testimonials-1.jpg" %} class="testimonial-img" alt="">
                <h3>Nugraha</h3>
                <h4>Pemilik Warung Internet</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Yuk Invest sangat membantu kami dalam menjalankan usaha. Dengan Yuk Invest, saya dapat melengkapi perlengkapan yang dibutuhkan di Warnet seperti PC, Headset, dan lain-lain.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "pendanaan/img/testimonials/testimonials-2.jpg" %} class="testimonial-img" alt="">
                <h3>Aktwovhiday</h3>
                <h4>Pemiliki Kedai Makanan</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Alhamdulillah, Yuk Invest membuat kami memiliki modal dalam mengemban usaha.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "pendanaan/img/testimonials/testimonials-3.jpg" %} class="testimonial-img" alt="">
                <h3>Abdullah</h3>
                <h4>Pemilik Rental Mobil</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Usaha rental mobil memerlukan dana yang cukup besar. Semenjak ada Yuk Invest, semua masalah jadi teratasi.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src={% static "pendanaan/img/testimonials/testimonials-4.jpg" %} class="testimonial-img" alt="">
                <h3>Gymnastiar</h3>
                <h4>Pengusaha Mebel</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Di zaman modern seperti ini, bisnis mebel lokal mulai terancam, bahan pun semakin mahal. Namun, Yuk Invest hadir sebagai penerang bagi kita dalam memulai usaha yang kita rintis.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    

  </main><!-- End #main -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Ajukan <span>Sekarang!</span></h1>
      <h2>Dengan mengisi form ini, Anda bisa mendapatkan modal ekspansi bisnis anda, dengan cara membagikan persentase kepemilikan saham Bisnis atau Outlet anda, kepada lebih dari 1.000 investor dari seluruh Indonesia.</h2>
      <div class="d-flex">
        <a href="{% url 'pendanaan:add_umkm' %}" class="btn-get-started scrollto">Ajukan</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= 
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "pendanaan/vendor/aos/aos.js" %}></script>
  <script src={% static "pendanaan/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "pendanaan/vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "pendanaan/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "pendanaan/vendor/php-email-form/validate.js" %}></script>
  <script src={% static "pendanaan/vendor/purecounter/purecounter.js" %}></script>
  <script src={% static "pendanaan/vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "pendanaan/vendor/waypoints/noframework.waypoints.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "pendanaan/js/main.js" %}></script>

</body>

</html>