<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

        <title> PTS PBP E08</title>
        <style>
            h1, p {
                text-align: center;
                font-family: Lato;
            }
        </style>
    </head>
    <body>
        <h1>YukInvest</h1>
        <p>YukInvest merupakan platform yang menyediakan layanan berinvestasi yang menghubungkan para investor dengan berbagai jenis UMKM di Indonesia. YukInvest dapat memberikan bantuan untuk mendorong masyarakat Indonesia untuk berinvestasi kepada UMKM demi memajukan perekonomian Indonesia.</p>
    </body>
</html>