{% load static %}
{% block css %} 
<link href="{% static 'header.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <b class="navbar-brand" href="/homepage/">Yuk Invest!</b>
            <ul class="navbar-nav">
                <div class="navbar-nav">
                    <a class="nav-link option" href="/pasarsaham/">Pasar Saham</a>
                    <a class="nav-link option" href="/daftarumkm/">Daftar UMKM</a>
                    <a class="nav-link option" href="/pendanaan/">Pendanaan</a>
                </div>
                    <a href="users/login/"><button id="tombol" type="button" class="btn btn-light" >
                        Masuk
                    </button></a>
                    <a href="users/register/"><button id="tombol2" type="button" class="btn btn-warning" >
                        Daftar
                    </button></a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end"></div>
    </nav>
</header>